# Mi primer notebook para python
## Probando librerias

Este es un notebook orientado a las primeras aproximaciones de jupyter lab con kernel python

### importacion del librerias

In [34]:
import pandas as pd
import numpy as nm
from pandas_profiling import ProfileReport

# carga de datos empleando pandas

In [3]:
datos_iris = pd.read_csv("iris.csv", names=["sepal length","sepal width","petal length","petal width","class"],sep=",")

Muestra de datos

In [4]:
datos_iris

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

## Agrupando  los datos por clase

In [29]:
grouped_data = datos_iris.groupby('class')

## Sacando las estadísticas para todas las columnas numéricas por clase

In [28]:
grouped_data.describe()

                sepal length                                              \
                       count   mean       std  min    25%  50%  75%  max
class
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal width         ... petal length      petal width         \
                      count   mean  ...          75%  max       count   mean
class                               ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
class
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

## la media de cada columna numérica por clase de flor

In [26]:
grouped_data.mean()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

## Escribiendo el csv con las estadisticas de las flores

In [30]:
nuevodatos = grouped_data.describe()

In [31]:
nuevodatos

                sepal length                                              \
                       count   mean       std  min    25%  50%  75%  max
class
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal width         ... petal length      petal width         \
                      count   mean  ...          75%  max       count   mean
class                               ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
class
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

### Escribiendo en un nuevo archivo csv con las nuevas columnas que se añadieron

In [38]:
nuevodatos.to_csv('estadisticasDeIris.csv', index=False, sep=',')

## Lectora de datos de un excel
Se hace lectura de un archivo csv primero para luego ser transformaco a tipo excel

In [95]:
adultodf = pd.read_csv("adult.csv",index_col=False,names=["Age","Workclass","Fnlwgt","Education","education-num","Marital-status","Occupation","Relationship","Race","Sex","Capital-gain","Capital-loss","Hours-per-week","Native-country","Population"],sep=",")
adultodf

,Age,Workclass,Fnlwgt,Education,education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Population
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Creando el archivo excel convirtiendo el data frame de adultodf a un archivo excel

In [96]:
adultodf.to_excel("adultoexcel.xlsx",sheet_name='Sheet_name_1',index=False)

### Lectura del archivo excel para ser usado como data frame

In [130]:
adultodfex = pd.read_excel("adultoexcel.xlsx")
adultodfex

,Age,Workclass,Fnlwgt,Education,education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Population
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Contando por edad la educacion que tienen en total

In [135]:
group_educationxAge = adultodfex.groupby(['Age', 'Education']).size()
dfeducationxAge = group_educationxAge.to_frame(name = 'Total').reset_index()
dfeducationxAge

     Age      Education  Total
0     17           10th    138
1     17           11th    180
2     17           12th     37
3     17        5th-6th      1
4     17        7th-8th      3
..   ...            ...    ...
960   90      Bachelors      9
961   90        HS-grad     14
962   90        Masters      4
963   90    Prof-school      1
964   90   Some-college      6

[965 rows x 3 columns]

## Creando el archivo excel con el dataframe de educationxAge

In [136]:
dfeducationxAge.to_excel("totalxedadyedudacion.xlsx",sheet_name='Sheet_name_1',index=False)

# Lectura de un archivo JSON
Se va a hacer una lectura y escritura de un archivo JSON

In [138]:
dfJson = pd.read_json("unece.json")
dfJson

,Country,Year,Area (square kilometres),Total population,"Population density, pers. per sq. km","Population aged 0-14, male","Population aged 0-14, female","Population aged 15-64, male","Population aged 15-64, female","Population aged 64+, male",...,"Employment in industry and energy (ISIC Rev. 4 B-E), share of total employment","Employment in construction (ISIC Rev. 4 F), share of total employment","Employment in trade, hotels, restaurants, transport and communications (ISIC Rev. 4 G-J), share of total employment","Employment in finance, real estate and business services (ISIC Rev. 4 K-N), share of total employment","Employment in public administration, education and health (ISIC Rev. 4 O-Q), share of total employment","Employment in other service activities (ISIC Rev. 4 R-U), share of total employment",Persons killed in road accidents,Persons injured in road accidents,Total length of motorways (km),Total length of railway lines (km)
0,Albania,2000,28748.0,3401198.0,118.31077,564851.0,529820.0,1029446.0,1086946.0,82588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,280.0,336.0,NaN,400.0
1,Albania,2001,28748.0,3073734.0,106.91992,460732.0,436652.0,963612.0,980800.0,108254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,297.0,250.0,NaN,409.0
2,Albania,2002,28748.0,3093465.0,107.60627,452373.0,427711.0,977294.0,995773.0,112546.0,...,NaN,NaN,NaN,NaN,NaN,NaN,250.0,228.0,NaN,428.0
3,Albania,2003,28748.0,3111162.0,108.22186,442939.0,417968.0,991075.0,1010693.0,116714.0,...,NaN,NaN,NaN,NaN,NaN,NaN,264.0,248.0,NaN,428.0
4,Albania,2004,28748.0,3127264.0,108.78197,433178.0,407988.0,1004398.0,1024845.0,120801.0,...,NaN,NaN,NaN,NaN,NaN,NaN,315.0,820.0,NaN,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,Uzbekistan,2012,447400.0,29774448.0,66.54995,4342195.0,4101477.0,10046617.0,10103648.0,516791.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2161.0,112228.0,NaN,NaN
880,Uzbekistan,2013,447400.0,30243172.0,67.59761,4384094.0,4133279.0,10238024.0,10286713.0,525998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,Uzbekistan,2014,447400.0,30757669.0,68.74758,4465526.0,4201156.0,10410214.0,10451289.0,539106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,Uzbekistan,2015,447400.0,31298929.0,69.95737,4567154.0,4286838.0,10566923.0,10599761.0,561491.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,Uzbekistan,2016,447400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Agrupando por pais y por poblacion

In [142]:
groupbyyearndcountry = dfJson.groupby(['Country', 'Total population'])
newdfjson = groupbyyearndcountry.describe()
newdfjson

                             Year                                              \
                            count    mean std     min     25%     50%     75%
Country    Total population
Albania    2801681.0          1.0  2012.0 NaN  2012.0  2012.0  2012.0  2012.0
           2829337.0          1.0  2011.0 NaN  2011.0  2011.0  2011.0  2011.0
           2856673.0          1.0  2010.0 NaN  2010.0  2010.0  2010.0  2010.0
           2889167.0          1.0  2015.0 NaN  2015.0  2015.0  2015.0  2015.0
           2893654.0          1.0  2014.0 NaN  2014.0  2014.0  2014.0  2014.0
...                           ...     ...  ..     ...     ...     ...     ...
Uzbekistan 29339368.0         1.0  2011.0 NaN  2011.0  2011.0  2011.0  2011.0
           29774448.0         1.0  2012.0 NaN  2012.0  2012.0  2012.0  2012.0
           30243172.0         1.0  2013.0 NaN  2013.0  2013.0  2013.0  2013.0
           30757669.0         1.0  2014.0 NaN  2014.0  2014.0  2014.0  2014.0
           31298929.0         1.0  2015.0 NaN  2015.0  2015.0  2015.0  2015.0

                                    Area (square kilometres)            ...  \
                                max                    count      mean  ...
Country    Total population                                             ...
Albania    2801681.0         2012.0                      1.0   28748.0  ...
           2829337.0         2011.0                      1.0   28748.0  ...
           2856673.0         2010.0                      1.0   28748.0  ...
           2889167.0         2015.0                      1.0   28748.0  ...
           2893654.0         2014.0                      1.0   28748.0  ...
...                             ...                      ...       ...  ...
Uzbekistan 29339368.0        2011.0                      1.0  447400.0  ...
           29774448.0        2012.0                      1.0  447400.0  ...
           30243172.0        2013.0                      1.0  447400.0  ...
           30757669.0        2014.0                      1.0  447400.0  ...
           31298929.0        2015.0                      1.0  447400.0  ...

                            Total length of motorways (km)      \
                                                       75% max
Country    Total population
Albania    2801681.0                                   NaN NaN
           2829337.0                                   NaN NaN
           2856673.0                                   NaN NaN
           2889167.0                                   NaN NaN
           2893654.0                                   NaN NaN
...                                                    ...  ..
Uzbekistan 29339368.0                                  NaN NaN
           29774448.0                                  NaN NaN
           30243172.0                                  NaN NaN
           30757669.0                                  NaN NaN
           31298929.0                                  NaN NaN

                            Total length of railway lines (km)               \
                                                         count mean std min
Country    Total population
Albania    2801681.0                                       0.0  NaN NaN NaN
           2829337.0                                       0.0  NaN NaN NaN
           2856673.0                                       0.0  NaN NaN NaN
           2889167.0                                       0.0  NaN NaN NaN
           2893654.0                                       0.0  NaN NaN NaN
...                                                        ...  ...  ..  ..
Uzbekistan 29339368.0                                      0.0  NaN NaN NaN
           29774448.0                                      0.0  NaN NaN NaN
           30243172.0                                      0.0  NaN NaN NaN
           30757669.0                                      0.0  NaN NaN NaN
           31298929.0                                      0.0  NaN NaN NaN


                            25% 50% 75% max
Country    Total population
Albania    2801681.0        NaN NaN NaN NaN
           2829337.0        NaN NaN NaN NaN
           2856673.0        NaN NaN NaN NaN
           2889167.0        NaN NaN NaN NaN
           2893654.0        NaN NaN NaN NaN
...                          ..  ..  ..  ..
Uzbekistan 29339368.0       NaN NaN NaN NaN
           29774448.0       NaN NaN NaN NaN
           30243172.0       NaN NaN NaN NaN
           30757669.0       NaN NaN NaN NaN
           31298929.0       NaN NaN NaN NaN

[786 rows x 616 columns]

In [152]:
newdfjson.to_json("countrysXpopulation.json")

In [153]:
lecturaC = pd.read_json("countrysXpopulation.json")
lecturaC

,"('Year', 'count')","('Year', 'mean')","('Year', 'std')","('Year', 'min')","('Year', '25%')","('Year', '50%')","('Year', '75%')","('Year', 'max')","('Area (square kilometres)', 'count')","('Area (square kilometres)', 'mean')",...,"('Total length of motorways (km)', '75%')","('Total length of motorways (km)', 'max')","('Total length of railway lines (km)', 'count')","('Total length of railway lines (km)', 'mean')","('Total length of railway lines (km)', 'std')","('Total length of railway lines (km)', 'min')","('Total length of railway lines (km)', '25%')","('Total length of railway lines (km)', '50%')","('Total length of railway lines (km)', '75%')","('Total length of railway lines (km)', 'max')"
"('Albania', 2801681.0)",1,2012,NaN,2012,2012,2012,2012,2012,1,28748,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Albania', 2829337.0)",1,2011,NaN,2011,2011,2011,2011,2011,1,28748,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Albania', 2856673.0)",1,2010,NaN,2010,2010,2010,2010,2010,1,28748,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Albania', 2889167.0)",1,2015,NaN,2015,2015,2015,2015,2015,1,28748,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Albania', 2893654.0)",1,2014,NaN,2014,2014,2014,2014,2014,1,28748,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"('Uzbekistan', 29339368.0)",1,2011,NaN,2011,2011,2011,2011,2011,1,447400,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Uzbekistan', 29774448.0)",1,2012,NaN,2012,2012,2012,2012,2012,1,447400,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Uzbekistan', 30243172.0)",1,2013,NaN,2013,2013,2013,2013,2013,1,447400,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Uzbekistan', 30757669.0)",1,2014,NaN,2014,2014,2014,2014,2014,1,447400,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"('Uzbekistan', 31298929.0)",1,2015,NaN,2015,2015,2015,2015,2015,1,447400,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN